body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
 }

 .top-navbar {
 background-color: #232f3e;
 color: white;
 position: fixed;
 top: 0; /* Fix the navbar at the top of the screen */
 left: 0; /* Align it to the left */
 right: 0; /* Align it to the right */
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 20px;
 z-index: 1000; /* Ensure the navbar is on top of other elements */
}


 .nav-links {
   display: flex;
   align-items: center;
 }

 .nav-link {
   color: white;
   text-decoration: none;
   padding: 10px 15px;
   transition: background-color 0.3s;
 }

 .nav-link:hover {
   background-color: #1c2735;
 }

 .search-box {
   display: flex;
   align-items: center;
 }

 .search-input {
   padding: 8px;
   border: none;
   border-radius: 4px;
   background-color: #37475a;
   color: white;
 }

 .amazon-logo {
   width: 80px;
   margin-right: 20px;
 }
 .s-container {    /*slideshow */
   max-width: 100%;
   position: relative;
   margin: auto;
   padding-top: 60px; /* Adjust the padding to make space for the navbar */
 }


 .s-img {
   width: 100%;
   max-height: auto;
   display: none;
 }

 .boxes-container {
   display: flex;
   position: absolute;
   margin-bottom: 100px;
   justify-content: center;
   gap: 20px;
   left: 100px;
   align-items: center;
   bottom :300px;
 }

 .box {
   background-color: rgb(239, 235, 235);
   margin: 10px; /* Add some spacing between boxes */
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

 .image-grid {
   display: grid;
   
   grid-template-rows: repeat(2, auto); /* 2 rows */
   grid-template-columns: repeat(2, auto); /* 2 columns */
   gap: 10px; /* Add some spacing between images */
   justify-items: center;
 }

 .image-container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .image-caption {
   margin-top: 10px;
 }
 .plain-box{
   background-color: #dbe2db;
   color: #eeeaea;
   width: auto;
   height: 200px;
   padding: 40px 20px;
 }

 .footer {
   background-color: #232f3e;
   color: #ffffff;
   padding: 0px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width:100%;
 }

 .footer-column {
   display: flex;
   flex-direction: column;

   padding:20px;
   margin: 10px;
 }

 .footer-column h2 {
   font-size: 18px;
   margin-bottom: 10px;
 }

 .footer-links {
   list-style: none;
   padding: 0;
 }

 .footer-link {
   margin-bottom: 5px;
 }

 .footer a {
   color: #ffffff;
   text-decoration: none;
 }

 .footer a:hover {
   text-decoration: underline;
 }